.App {
  text-align: center;
  background: #121212;
  color: #ffffffcc;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

p {
  font-size: large;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 8vh;
}

.title {
  width: 100vw;
  align-self: center;
}

.info-button {
  align-self: flex-end;
}

.stats-button {
  align-self: flex-end;
  margin-right: 40px;
}

.stats-modal {
  h3 {
    padding: 0 12px 12px;
    margin: 0;
  }

  table {
    display: flex;
    flex-direction: column;

    thead,
    tbody {
      tr {
        display: flex;

        th,
        td {
          margin: auto;
          width: 33.3vw
        }

        td {
          font-size: x-large;
          font-weight: bold;
        }
      }
    }

    tbody {
      tr {
        border: none;
      }
    }
  }

  .stats-distribution {
    table {
      margin: 12px 0;

      thead,
      tbody {
        tr {
          border: none;
        }
      }
    }

    ul {
      padding: 0;

      .stat-distribution {
        display: flex;
        flex-direction: row;
        //place-content: space-evenly;

        .stat-distribution-label {
          margin: 2px;
          width: 10px;
        }

        .distribution-bar-container {
          width: 100%;

          .distribution-bar {
            width: 16px;
            min-width: 16px;
            border: 2px solid;
            border-color: rgba(0, 0, 0, 0.5);
            margin: 1px 4px;
            transition: width 1500ms ease-in-out;

            p {
              margin: 0;
              text-shadow: 0.5px 0.5px 1px black;
              padding-bottom: 2px;
            }
          }
        }
      }
    }
  }
}

/* .info-button > span {
  font-size: xx-large;
} */

.reset-button {
  align-self: flex-start;
}

.button {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  margin: 6px;
  min-width: 32px;
  min-height: 32px;
  // border-radius: 16px
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.popover-container {
  width: 40vw;
  left: calc(30vw - 24px);
  background: #121212;
  position: absolute;
  z-index: 1;
  max-height: calc(100vh - 64px);
  overflow: auto;
}

.popover-content {
  color: #ffffffa6;
  // background-color: #9b4bff22;
  padding: 12px 24px 12px;
}

.daily-toggle {
  display: flex;
  justify-content: center;
}

.info,
.stats {
  top: 60px;
  font-size: large;
}

.stats {
  left: 3vw;
}

.info {
  left: 50vw;

  p {
    margin: 16px 0;
  }
}

.main-container {
  padding: 24px;
  height: 85vh;
}

.description {
  margin-top: 0;
}

.guesses-list {
  margin: auto;
}

.guess {
  margin: 8px;
}

.input-div {
  width: calc(100vw - 48px);
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 24px;
}

.input-button {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  line-height: 42px;
  height: 42px;
  width: 42px;
  border: 1px solid #ccc;
}

.sprite {
  padding-top: 16px;
  height: 20%;
}

.dropdown {
  position: relative;
  color: #ffffff;
  cursor: default;
}

.control {
  display: flex;
}

.dropdown .selected-value input {
  line-height: 1.5;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 9px 52px 9px 10px;
  transition: all 150ms ease;
  width: 25vw;
  color: white;
}

.dropdown .options {
  display: none;
  background-color: #424242;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  bottom: 100%;
  width: 25vw;
  -webkit-overflow-scrolling: touch;
}

.options-container {
  display: flex;
}

.dropdown .options.open {
  display: flex;
  flex-direction: column;
}

.dropdown .option {
  box-sizing: border-box;
  color: #d3d3d3;
  cursor: pointer;
  display: block;
  padding: 6px 10px;
  border-bottom: 1px solid #202020;
}

.dropdown .option.selected,
.dropdown .option:hover {
  background-color: #424242;
  color: #ffffff;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  p {
    font-size: medium;
    margin: 12px 0;
  }

  .button {
    min-width: 24px;
    min-height: 24px;
  }

  .stats-modal {
    font-size: medium;

    table {
      th {
        font-weight: 500;
      }

      tbody {
        tr {
          td {
            font-size: large;
          }
        }
      }
    }
  }

  .popover-container {
    width: 74vw;
    left: 6.5vw;
  }

  .dropdown .selected-value input {
    width: 60vw;
  }

  .dropdown .options {
    width: 60vw;
  }

  .guess {
    font-size: small;
    margin: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}