.App {
  text-align: center;
  background: black;
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.toolbar {
  border-bottom: 2px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8vh;
}

.main-container {
  padding: 24px;
  height: 85vh;
}

.info-button {
  align-self: flex-end;
  position: absolute;
  padding: 8px;
  border: 2px solid grey;
  font-size: large;
  margin: 12px;
}

.popover {
  width: 40vw;
  left: 30vw;
  background: black;
  border: 2px solid grey;
  padding: 0 24px;
  position: absolute;
  z-index: 1;
}

.info {
  top: 60px;
  left: 30vw;
}

.guesses-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.guess {
  margin: 8px;
}

.input-div {
  width: calc(100vw - 24px);
  display: flex;
  justify-content: center;
}

.input-button {
  background: black;
  color: #ffffff;
  font-size: x-large;
  line-height: 42px;
  height: 42px;
  width: 42px;
  border: 1px solid #ccc;
}

.sprite {
  padding-top: 16px;
  height: 20%;
}

.dropdown {
  position: relative;
  color: #ffffff;
  cursor: default;
}

.dropdown .selected-value input {
  line-height: 1.5;
  font-size: 1rem;
  background-color: #424242;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
  width: 20vw;
}

.dropdown .options {
  display: none;
  background-color: #424242;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 20vw;
  -webkit-overflow-scrolling: touch;
}

.options-container {
  display: flex;
  justify-content: center;
}

.dropdown .options.open {
  display: flex;
  flex-direction: column;
}

.dropdown .option {
  box-sizing: border-box;
  color: #d3d3d3;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.dropdown .option.selected,
.dropdown .option:hover {
  background-color: #424242;
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  .popover {
    width: 80vw;
    left: 5vw;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}